src/service/Searcher.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://searchengine" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://searchengine/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://searchengine">
    <wsdl:types>
        <xs:schema xmlns:ax22="http://searchengine/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://searchengine">
            <xs:import namespace="http://searchengine/xsd"/>
            <xs:element name="searchserve">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchserveResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:SearchResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://searchengine/xsd">
            <xs:complexType name="SearchResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="rank" type="xs:int"/>
                    <xs:element minOccurs="0" name="snippet" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="searchserveRequest">
        <wsdl:part name="parameters" element="ns:searchserve"/>
    </wsdl:message>
    <wsdl:message name="searchserveResponse">
        <wsdl:part name="parameters" element="ns:searchserveResponse"/>
    </wsdl:message>
    <wsdl:portType name="SearcherPortType">
        <wsdl:operation name="searchserve">
            <wsdl:input message="ns:searchserveRequest" wsaw:Action="urn:searchserve"/>
            <wsdl:output message="ns:searchserveResponse" wsaw:Action="urn:searchserveResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SearcherSoap11Binding" type="ns:SearcherPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="searchserve">
            <soap:operation soapAction="urn:searchserve" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SearcherSoap12Binding" type="ns:SearcherPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="searchserve">
            <soap12:operation soapAction="urn:searchserve" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SearcherHttpBinding" type="ns:SearcherPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="searchserve">
            <http:operation location="searchserve"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Searcher">
        <wsdl:port name="SearcherHttpSoap11Endpoint" binding="ns:SearcherSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Searcher"/>
        </wsdl:port>
        <wsdl:port name="SearcherHttpSoap12Endpoint" binding="ns:SearcherSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Searcher"/>
        </wsdl:port>
        <wsdl:port name="SearcherHttpEndpoint" binding="ns:SearcherHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Searcher"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
